<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/todo.css">
</head>

<body>
 <%- include('partials/navbar'); %> 
    <!-- navbar ejs to keep code dry (logout button) -->
    <div class="container">

        <div class="todo-container">
    <%- include('partials/img'); %> 
        
        <div class="todo-container">
            <div class="header">
                    <%- include('partials/navbar'); %> 
                </div>

            <div class="todo-header">
                <h1 class="">
                    To Dos
                </h1>
                <h4 class="">
                    Welcome back! <%= user.userName %> has <%= left %> things left to do.
                </h4>
            </div>
            <div class="">
                    <form action=" /todos/createTodo" method="POST" class="signup-form">
                        <div class="input-container">
                            <input type="text" class="form-control"
                                name="todoItem" placeholder="Enter Todo Item">
                        </div>
                        <div>
                            <select name="listName" id="ln">
                                <% listName.forEach(el => { %>
                                    <option value="<%= el %>" name="listName" ><%= el %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
            </div>
            <div class="todoItem-container">
                <ul class="">
                    <% todos.forEach( el=> { %>

                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not' %>'>
                                <%= el.todo %>
                            </span>
                                <button
                                    class='del btn btn-danger'>
                                    Delete
                                </button>
                        </li>
                        <% }) %>
                </ul>
            </div>
            <div class="">
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>